{% extends 'AppBundle::base.html.twig' %}

{% block body %}

  <div class="container">

    <ol class="breadcrumb">
      <li><a href="{{ path('homepage') }}"><i class="fa fa-fw fa-home"></i> Accueil</a></li>
      <li><a href="{{ path('app_category_show', {slug: article.category.slug}) }}">{% if article.category.fontawesomeClass %}<i class="fa fa-{{ article.category.fontawesomeClass }}"></i> {% endif %}{{ article.category.name }}</a></li>
      <li class="active">{{ article.title }}</a></li>
    </ol>

    <div class="well article">

      {% if is_granted('ROLE_ADMIN') %}
        <div class="pull-right">
          <a href="{{ path('sonata_article_edit', {id: article.id}) }}" target="_blank"><i class="fa fa-fw fa-edit"></i> Éditer</a>
        </div>
      {% endif %}

      <ul class="list-inline">
        <li><i class="fa fa-fw fa-tags"></i> {{ article.category.name }}</li>
        <li><i class="fa fa-fw fa-user"></i> {{ article.authorName }}</li>
        <li><i class="fa fa-fw fa-clock-o"></i> {{ article.createdAt|date('d/m/Y \\à H:i') }}</li>
        <li><i class="fa fa-fw fa-eye"></i> 143</li>
      </ul>

      <div class="article-wrapper">
        <div class="main">

          <div class="jumbotron">
            <h2>{{ article.title }}</h2>
            <p>Par <em>{{ article.authorName }}</em></p>
          </div>

          <div id="article-carousel" class="owl-carousel">
            {% for media in article.medias %}
              <div class="item {% if loop.first %}active{% endif %}">
                <img class="owl-lazy" data-src="{% path media.media, 'cover' %}" alt="{{ article.title }}" />
                <div class="carousel-caption">
                  <p>{{ media.legend }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="content">
            {{ article.content|raw }}
          </div>
          <em class="author">{{ article.authorName }}</em>
        </div>
        <div class="aside">

        </div>
      </div>

      <hr/>

      <div class="panel panel-default comments" id="comments">
        <div class="panel-body">
          <h3><i class="fa fa-fw fa-comments"></i> Réagir à cette article</h3>
          <hr/>
          <form class="form-inline comment-form" action="{{ path('app_article_show', {slug: article.slug}) }}#comments" method="post">
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_widget(form._token) }}
            <button class="btn btn-sm btn-success"><i class="fa fa-fw fa-comment"></i> Commenter</button>
          </form>
        </div>
        <ul class="list-group">
          {% for comment in article.comments|reverse %}
            <li class="list-group-item comment {% if highlight == comment %}active{% endif %}">
              <div class="photo-wrapper">
                <img alt="{{ comment.author }}"  src="data:image/jpg;base64,{{ comment.author.photo }}" class="img-thumbnail" />
              </div>
              <div class="comment-wrapper">
                <div class="content">
                  <blockquote>
                    <p>{{ comment.content }}</p>
                    <footer>
                      <cite title="{{ comment.author }}">
                        <a href="https://my.ecp.fr/m/{{ comment.author.username }}" target="_blank">{{ comment.author.firstName }} {{ comment.author.lastName }}</a>
                        <time>Le {{ comment.createdAt|date('d/m/Y \\à H:i') }}</time>
                      </cite>
                    </footer>
                    <div class="actions">
                      <a href="#" class="text-muted"><i class="fa fa-fw fa-trash"></i> Supprimer</a>
                    </div>
                  </blockquote>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
