{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div class="container">
  <div id="homepage-carousel" class="owl-carousel">
    {% for article in articlesWithCover %}
      <div class="item {% if loop.first %}active{% endif %}">
        <img class="owl-lazy" data-src="{% path (article.medias|first).media, 'cover' %}" alt="{{ article.title }}" />
        <div class="carousel-caption">
          <h4>{{ article.title }}</h4>
          <p>{{ article.content|striptags|raw|slice(0, 30) }}…</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="homepage">

    <div class="main">
      <div class="content">

        <div class="block">
          <div class="row">
            <div class="col-sm-6 alaune-main">
              {% set firstArticle = last3Articles|first %}
              <h2>À la une</h2>
              <hr/>
              <a href="#">
                {% if firstArticle.medias|length %}
                  <img src="{% path (firstArticle.medias|first).media, 'small' %}" class="img-responsive" alt="Responsive image">
                {% endif %}
                <h3>{{ firstArticle.title }}</h3>
              </a>
              <p>{{ firstArticle.content|striptags|raw|slice(0, 70) }}…</p>
              <p class="interactions">
                <a href="#" class="comments" title="Réagir !"><i class="fa fa-fw fa-comments"></i>5</a>
                <a href="#" class="views" title="Vues"><i class="fa fa-fw fa-eye"></i>143</a>
                <a href="{{ path('app_category_show', {slug: firstArticle.category.slug}) }}" class="category"><i class="fa fa-fw fa-plus-square"></i>{{ firstArticle.category.name }}</a>
              </p>
            </div>
            <div class="col-sm-6 alamune-aside">
              {% for article in last3Articles[1:] %}
                <div class="article">
                  <a href="#">
                    <h3>{{ article.title }}</h3>
                  </a>
                  <p>{{ article.content|striptags|raw|slice(0, 70) }}…</p>
                  <p class="interactions">
                    <a href="#" class="comments" title="Réagir !"><i class="fa fa-fw fa-comments"></i>5</a>
                    <a href="#" class="views" title="Vues"><i class="fa fa-fw fa-eye"></i>143</a>
                    <a href="{{ path('app_category_show', {slug: firstArticle.category.slug}) }}" class="category"><i class="fa fa-fw fa-plus-square"></i>{{ firstArticle.category.name }}</a>
                  </p>
                </div>
                {% if not loop.last %}<hr/>{% endif %}
              {% endfor %}
            </div>
          </div>

        </div>

        <div class="block">
          Trololo
        </div>

      </div>
    </div>


    <div class="aside">
      <div class="module-wrapper">
        <div class="module">
          Module 1
        </div>
        <div class="module">
          Module 2
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
