{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div class="container">
  <div id="homepage-carousel" class="owl-carousel owl-theme">
    {% for article in articlesWithCover %}
      <div class="item {% if loop.first %}active{% endif %}">
        <img class="owl-lazy" data-src="{% path (article.medias|first).media, 'cover' %}" alt="{{ article.title }}" />
        <div class="carousel-caption">
          <a href="{{ path('app_article_show', {slug: article.slug}) }}">
            <h4>{{ article.title }}</h4>
            <p>
              {{ article.summary }}&nbsp;
            </p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="homepage">

    {# First column #}
    <div class="main">
      <div class="content">

        {# "A la une" #}
        <div class="block">
          <div class="row">
            {% if last3Articles|length %}
              <div class="col-sm-6 alaune-main">
                {% set firstArticle = last3Articles|first %}
                <h2>À la une</h2>
                <hr/>
                <a href="{{ path('app_article_show', {slug: firstArticle.slug}) }}">
                  {% if firstArticle.medias|length %}
                    <img src="{% path (firstArticle.medias|first).media, 'small' %}" class="img-responsive" alt="{{ firstArticle.title }}">
                  {% else %}
                    <img src="https://placeholdit.imgix.net/~text?txtsize=15&txt=\_G%20%3C%20%E2%80%A2%20Le%20Garopi&w=200&h=100" class="img-responsive" alt="{{ firstArticle.title }}">
                  {% endif %}
                  <h3>{{ firstArticle.title }}</h3>
                </a>
                <p>{{ firstArticle.summary }}</p>
                <p class="interactions">
                  <a href="{{ path('app_article_show', {slug: firstArticle.slug}) }}#comments" class="comments" title="Réagir !"><i class="fa fa-fw fa-comments"></i>{{ firstArticle.nbComments }}</a>
                  <a href="{{ path('app_article_show', {slug: firstArticle.slug}) }}" class="views" title="Vues"><i class="fa fa-fw fa-eye"></i>{{ firstArticle.nbReadings }}</a>
                  <a href="{{ path('app_category_show', {slug: firstArticle.category.slug}) }}" class="category"><i class="fa fa-fw fa-tags"></i>{{ firstArticle.category.name }}</a>
                </p>
              </div>
              <div class="col-sm-6 alamune-aside">
                {% for article in last3Articles[1:] %}
                  <div class="article">
                    <a href="{{ path('app_article_show', {slug: article.slug}) }}">
                      <h3>{{ article.title }}</h3>
                    </a>
                    <p>{{ article.summary }}</p>
                    <p class="interactions">
                      <a href="{{ path('app_article_show', {slug: article.slug}) }}#comments" class="comments" title="Réagir !"><i class="fa fa-fw fa-comments"></i>{{ article.nbComments }}</a>
                      <a href="{{ path('app_article_show', {slug: article.slug}) }}" class="views" title="Vues"><i class="fa fa-fw fa-eye"></i>{{ article.nbReadings }}</a>
                      <a href="{{ path('app_category_show', {slug: article.category.slug}) }}" class="category"><i class="fa fa-fw fa-tags"></i>{{ article.category.name }}</a>
                    </p>
                  </div>
                  {% if not loop.last %}<hr/>{% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>

        </div>

        {# A block by non empty category #}
        {% for category in categories if articlesByCategory[category.slug]|length %}
          <div class="block block-category">
            <a class="pull-right text-muted" href="{{ path('app_category_show', {slug: category.slug}) }}"><i class="fa fa-fw fa-plus-square"></i>Voir tous les articles</a>
            <h2 class="category-title">{{ category.name }}</h2>
            <hr/>
            {% for article in articlesByCategory[category.slug] %}
              <div class="article">
                <a href="{{ path('app_article_show', {slug: article.slug}) }}">
                  <h3>{{ article.title }}</h3>
                </a>
                <p>{{ article.summary }}</p>
                <p class="interactions">
                  <a href="{{ path('app_article_show', {slug: article.slug}) }}#comments" class="comments" title="Réagir !"><i class="fa fa-fw fa-comments"></i>{{ article.nbComments }}</a>
                  <a href="{{ path('app_article_show', {slug: article.slug}) }}" class="views" title="Vues"><i class="fa fa-fw fa-eye"></i>{{ article.nbReadings }}</a>
                  <a href="{{ path('app_category_show', {slug: article.category.slug}) }}" class="category"><i class="fa fa-fw fa-tags"></i>{{ article.category.name }}</a>
                </p>
              </div>
              {% if not loop.last %}<hr/>{% endif %}
            {% endfor %}
          </div>
        {% endfor %}

      </div>
    </div>


    {# Modules on right #}
    <div class="aside">
      <div class="module-wrapper">

        {# Horoscope #}
        <div class="module horoscope">
          {% if is_granted('ROLE_ADMIN') %}
            <div class="pull-right"><a href="{{ path('sonata_horoscope_list') }}" target="_blank"><i class="fa fa-fw fa-cog"></i></a></div>
          {% endif %}
          <h3><i class="fa fa-fw fa-diamond"></i>&nbsp;Horoscope&nbsp;<i class="fa fa-fw fa-diamond"></i></h3>
          <hr/>
          <div class="horoscopes">

            {# @TODO #}
            <ul class="nav nav-pills nav-justified horoscope-select" role="tablist">
              {% for horoscope in horoscopes %}
                <li role="tab" class="{% if loop.index == 1 %}active{% endif %}">
                  <a aria-controls="horoscope-{{ horoscope.letter }}" data-toggle="tab" href="#horoscope-{{ horoscope.letter }}">{{ horoscope.letter }}</a>
                </li>
              {% endfor %}
            </ul>
            <hr/>

            <div class="tab-content">
              {% for horoscope in horoscopes %}
                <div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="horoscope-{{ horoscope.letter }}">
                  <blockquote>
                    <p>{{ horoscope.content }}</p>
                    <footer>Signé, <cite title="Source Title">{{ horoscope.authorName }}</cite></footer>
                  </blockquote>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {# Twitter/Facebook #}
        <div class="module social">
          <h3><i class="fa fa-fw fa-facebook"></i>&nbsp;Suis-nous&nbsp;<i class="fa fa-fw fa-envelope"></i></h3>
          <hr/>

          <label class="notify-by-mail text-center">
            <input type="checkbox" {% if app.user.wantsToReceiveMails %}checked{% endif %}>
            Notifications mail à chaque nouvel article
            <p class="text-danger failure" style="display: none;">Échec, veuillez recommencer.</p>
            <p class="text-success success" style="display: none;">Ta modification a bien été prise en compte.</p>
          </label>

          <hr/>

          <div class="row">
            <a href="https://www.facebook.com/legaropi" class="btn btn-primary col-sm-4 col-sm-offset-1" target="_blank">
              <i class="fa fa-fw fa-facebook"></i>&nbsp;Facebook
            </a>
            <div class="fb-like col-sm-4 col-sm-offset-2" data-href="https://www.facebook.com/legaropi" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}
